body{
    background-color: grey;
}

main{
color: blue ;
border: 20px,color green, solid;
padding: 50px;
padding-top: 50px;
width: 200px;
text-align: center;
background-color: bisque;
margin: auto;


}
h1 {    
    color: red;

}